<!DOCTYPE html>
<html>
  <head>
    <title>На сайте проводятся технические работы</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>На сайте проводятся технические работы</h1>
    <p>Приносим извинения за доставленные неудобства</p>
  </body>
</html>
